body{
    margin: 0;
}

.pg{
    display: grid;
    height: 100vh;
    
            grid-template-columns: 0.8fr 1fr 1fr 1fr;
            grid-template-rows: 0.7fr 1.0fr 1fr 0.5fr;
            grid-template-areas: 
                                 "headerText headerText headerText headerText"
                                 "sidebar ConteudoPrincipal ConteudoPrincipal ConteudoPrincipal"
                                 "sidebar ConteudoPrincipal ConteudoPrincipal ConteudoPrincipal"
                                 "sidebar footer footer footer" 
 
}
                   
#headerText {

 background-color: rgb(194, 187, 201);
 color: rgb(251, 255, 1);
 grid-area: headerText;
 align-items: center;  
 display: flex;
 justify-content: space-between;
                   
}
#sidebar{ 
    background-color: blue;
    grid-area: sidebar;

}
    
#ConteudoPrincipal{
    background-color: brown;
    grid-area: ConteudoPrincipal; 
    display: flex;
    align-items: center;
    justify-content: center ;
}
form{
    width: 250px;
    height: 150px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 28px 10px 10px 10px;
    align-items: center;
    
    
}
input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(64, 230, 133);
}
button{
    width: 200px;
    height: 25px;
    background-color: aqua;
    border: none;
    font-weight: 900;
    color: rgb(247, 45, 45);
    margin-top: 10px;
}
#ConteudoPrincipal a{
    color: black;
}


#footer{
    
    background-color: rgb(212, 12, 12);
    grid-area: footer
    
}

#menu a {
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px;
    color:rgb(0, 0, 0);
    margin-right: 20px;

}

#menu a:hover{ 
    background-color: rgb(140, 197, 82);
    color: antiquewhite;

}


