.pg{
    display: grid;
    height: 100vh;
            grid-template-columns: 0.8fr 1fr 1fr 1fr;
            grid-template-rows: 0.7fr 1fr 1fr 0.5fr;
            grid-template-areas: 
                                 "headerText headerText headerText headerText"
                                 "sidebar ConteudoPrincipal ConteudoPrincipal ConteudoPrincipal"
                                 "sidebar ConteudoPrincipal ConteudoPrincipal ConteudoPrincipal"
                                 "sidebar footer footer footer" 
}
                   

#headerText {

 background-color: blueviolet;
 text-align: center;
 color: rgb(251, 255, 1);
 grid-area: headerText;
 margin: 0.2em;
 border-radius: 0.8em;
            
                   
 
}
#sidebar{ 
    background-color: blue;
    grid-area: sidebar;
    margin: 0.2em;
    border-radius: 0.8em;


}
    


#ConteudoPrincipal{
    background-color: brown;
    grid-area: ConteudoPrincipal;
    margin: 0.2em;
    border-radius: 0.8em;
}


#footer{
    margin: 0.2em;
    border-radius: 0.8em;
    background-color: rgb(212, 12, 12);
    grid-area: footer
    
     
    

}

