.pg{
    display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
                                 "headerText headerText headerText headerText"
                                 "sidebar ConteudoPrincipal ConteudoPrincipal ConteudoPrincipal"
                                 "sidebar ConteudoPrincipal ConteudoPrincipal ConteudoPrincipal"
                                 "footer footer footer footer" 
}
                   

#headerText {

 background-color: blueviolet;
 width:100%;
 height: 50px;
 text-align: center;
 color: rgb(251, 255, 1);
 grid-area: headerText;

            
                   
 
}
#sidebar{ 
    background-color: blue;
    grid-area: sidebar;

}
    


#ConteudoPrincipal{
    background-color: brown;
    grid-area: ConteudoPrincipal;

}


#footer{
    background-color: rgb(212, 12, 12);
    grid-area: footer

}

